body {

}
.tab-content {
    padding: 20px 15px;
    font-size: 12px;
    color: #666;
    border: 1px solid #eee;
    border-top: none;
    box-sizing: border-box;
    overflow: hidden;
}
    .tab-content dl:first-child {
        border-top: none;
    }
    .tab-content dl, .div-content dl {
        clear: both;
        display: block;
        padding: 5px 0;
        line-height: 30px;
    }
        .tab-content dl dd {
            position: relative;
            margin-left: 150px;
        }
.order-flow {
    margin: 0 auto;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 4px;
}
.order-flow-left, .order-flow-arrive, .order-flow-wait, .order-flow-right-arrive, .order-flow-right-wait {
    margin: 0;
    padding: 0;
    background: url(/Admin/imgs/order_speed.gif) no-repeat scroll 0 0;
    float: left;
    font-family: Arial;
    line-height: 16px;
    text-align: center;
    width: 140px;
}
.order-flow-input {
    display: block;
    margin: 2px auto;
    padding: 0;
    width: 18px;
    height: 18px;
    text-indent: -999px;
    cursor: inherit;
    overflow: hidden;
}
a {
    color: #686f7f;
    text-decoration: none;
}
.order-flow div span {
    margin: 0;
    padding: 0;
    background: none repeat scroll 0 0 #fff;
    display: block;
}
.order-flow .name {
    margin: 0;
    padding: 0 0 4px 0;
}
.order-flow div span p {
    margin: 0;
    padding: 0;
}
.order-flow-wait {
    background-position: 0 -20px;
    color: #878787;
}
.order-flow-arrive {
    background-position: 0 -40px;
}
.order-flow-right-wait {
    background-position: 0 -60px;
    color: #878787;
}
.tab-content dl:after, .div-content dl:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.tab-content dl dt {
    display: block;
    float: left;
    width: 130px;
    text-align: right;
    color: #6d7e86;
}
.table-container {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.border-table {
    min-width: 500px;
    border-width: 1px;
    margin: 0;
    background: #fff;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.border-table thead th {
    color: #333;
    font-weight: normal;
    white-space: nowrap;
    text-align: center;
    background: #f9f9f9;
}
.border-table th, .border-table td {
    margin: 0;
    padding: 2px 10px;
    line-height: 26px;
    height: 28px;
    border: 1px solid #eee;
    vertical-align: middle;
    white-space: nowrap;
    word-break: keep-all;
}
.border-table tr.td_c td {
    text-align: center;
}

border-table tbody th {
    padding-right: 5px;
    text-align: right;
    color: #707070;
    background-color: #f9f9f9;
}
.border-table td .position {
    position: relative;
    min-height: 100%;
}
.border-table tbody th {
    padding-right: 5px;
    text-align: right;
    color: #707070;
    background-color: #f9f9f9;
}
