/*主体部分样式开始*/
.right_list .r_top .filter_ico,.list_title .ul_list1 .up_ico,.table1 tr td .list,.table1 tr td .big_pic {background: url("../imgs/com_sprites.png") no-repeat;}
.main{width: 1200px;margin: 20px auto;}

.left_list{width: 205px;float: left; overflow: hidden;}
.left_list h3{height: 43px;line-height: 43px;text-indent: 15px;font-size: 14px;color: #666666;background-color: #fafafa;}
.left_list ul li img{width: 200px;height: 180px;}
.left_list ul li p{font-weight: bold;color: #39a817;text-align: center;height: 30px;line-height: 30px;}

.left_list .list_top{border: 1px solid #cccccc;width: 202px;}

.left_list .list_next{margin-top: 16px;border: 1px solid #cccccc;overflow: hidden;width: 202px;}
.list_next ul{padding: 12px 10px;}
.list_next ul li .list{display: block}
.list_next ul li .span_hide{display: none}

.list_next ul li.first{height: 68px;}
.list_next ul li.first .list{display: none;}
.list_next ul li.first .span_hide{display: block;}
.list_next ul li.first  .com_num{color: #e70000;border-color: #e70000;}

.list_next ul li{border-bottom: 1px dashed #cccccc;height: 34px;line-height: 34px;width: 185px;overflow: hidden;}
.list_next ul li .com_num{width: 20px;height: 20px;border: 1px solid #b5b5b5;display: block;float: left;line-height: 22px;text-align: center;border-radius: 50%;margin: 5px 10px 0 0;}
.list_next ul li span{white-space: nowrap;}
.list_next ul li .name{width: 100px;display: block;float: left;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.list_next ul li .norms{width: 45px;display: block;float: left;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.list_next ul li .norms2{width: 88px;display: block;float: left;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.list_next ul li .num{width: 25px;display: block;float: left;height: 14px;line-height: 14px;margin-top: 10px;}
.list_next ul li .title{display: block;float: left;width: 75px;height: 14px;line-height: 14px;margin-top: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.list_next ul li .price{display: block;float: left;width: 86px;height: 30px;line-height: 30px;color: #e70000;font-size: 14px;font-weight: bold;}
.list_next ul li a{color: #666666;}
.list_next ul li img{width: 50px;height: 50px;float: left;margin:10px 15px 0 0;}

.right_list{width: 985px;}
.right_list .r_top{height: 50px;line-height: 50px;color: #5e5e5e;text-indent: 22px;position: relative;width: 985px;}
.right_list .r_top .filter_ico{position: absolute;width: 14px;height: 14px;left: 0;top:17px;background-position:-98px 0; }
.list_title{background-color: #f7f5f5;}
.list_title .ul_list1{height: 46px;line-height: 46px;position: relative;}
.list_title .ul_list1 .title_name{display: block;float: left;width: 40px;height: 46px;margin-left: 20px;}
.list_title .ul_list1 ul {width: 740px;float: left;padding: 12px 0;}
.list_title .ul_list1 ul li{white-space: nowrap;padding: 0 15px;float: left;height: 22px;line-height: 22px;}
.list_title .ul_list1 ul li a{color: #666666;}

.list_title .ul_list1 ul li.on_click{background-color: #39a817;}
.list_title .ul_list1 ul li.on_click a{color: #fff;}
.cart_list .table2 tr:hover{background-color: #e5e5e5;}


.list_title .ul_list1 span.close,.list_title .ul_list1 span.open{position: relative;width: 46px;height: 18px;border: 1px solid #b5b5b5;line-height:18px;font-weight: normal;text-indent: 5px;display: block;float: left;margin: 13px 35px 0 0;cursor:pointer;}
.list_title .ul_list1 .up_ico{width: 12px;height: 6px;overflow: hidden;position: absolute;right: 2px;top:6px;background-position: -50px 0;}
.list_title .ul_list2{height: auto;}
.right_list .search{height: 46px;line-height: 46px;border: 1px solid #cccccc;background-color: #fff;margin-bottom: 20px;}
.right_list .search p{width: 190px;float: left;margin-left: 20px;_padding-top: 10px;}
.right_list .search p input.text{width: 92px;height: 20px;line-height: 20px;border: 1px solid #ccc;text-indent: 5px;}
.right_list .search .submit{width: 56px;height: 24px;border-radius: 5px;background-color: #39a817;color: #fff;line-height: 24px;text-align: center;cursor:pointer;}
.right_list .search p .title{color: #39a817;}


.right_list .table1{height: 34px;line-height: 34px;border: 1px solid #ccc;width: 100%;text-align: center;background-color: #fff;}
.right_list .table1 tr.first td{border-right: 1px solid #ccc; }
.right_list .table1 tr td a{color:#666666; }
.right_list .table1 tr .td{width: 62px;position: relative;}
.right_list .table1 tr .td .arrow,.right_list .table1 tr .td .arrow_asc{position: absolute;width: 12px;height: 14px;right: 20px;top:11px;background: url("../imgs/com_sprites.png") -133px 0 no-repeat; }
.right_list .table1 tr td.com{text-align: left;padding-left: 20px;}
.right_list .table1 tr td.sort{ background-color: #39a817;}
.right_list .table1 tr td.sort a{color: #fff;}
.right_list .table1 tr .sort .arrow{background: url("../imgs/com_sprites.png") -117px 0 no-repeat; }

.right_list .table1 tr .sort .arrow_asc{background: url("../imgs/com_sprites.png") -117px -23px no-repeat; }


.table1 tr td .list,.table1 tr td .big_pic{width: 46px;height: 19px;display: block;float: right;background-position: 0 -22px;margin-right: 15px;}
.table1 tr td .big_pic{background-position: 0 0;}


.cart_list{margin-top: 10px;}
.cart_list table{width: 100%;}
.cart_list table tr th,.cart_list table tr td{height: 28px;line-height: 28px;border: 1px solid #cccccc;text-align: center;font-weight: normal;}
.cart_list table tr td a{color: #39a817;}
.cart_list table tr td.table2_td1{width: 60px; color: #39a817;}
.cart_list table tr td.table2_td2{width: 185px;position: relative;}
.cart_list table tr td.table2_td3{width: 75px;}
.cart_list table tr td.table2_td4{width: 35px;}
.cart_list table tr td.table2_td5{width: 200px;}
.cart_list table tr td.table2_td6{width: 70px;}
.cart_list table tr td.table2_td7{width: 40px;}
.cart_list table tr td.table2_td8{width: 45px;}
.cart_list table tr td.table2_td9{width: 80px;}
.cart_list table tr td.table2_td10{width: 45px;}
.cart_list table tr td.table2_td11{width: 140px;}
.cart_list table tr td.table2_td9 .left_ico,.cart_list table tr td.table2_td9 .right_ico{width: 15px;height: 16px;border: 1px solid #cacaca;display: block;float: left;line-height: 15px;margin-left:6px; text-align: center;cursor:pointer;}
.cart_list table tr td.table2_td9 .right_ico{margin-left: 0;}
.cart_list table tr td input{width: 34px;height: 16px;border: 1px solid #cacaca;float: left;text-align: center;border-left: 0;border-right: 0;}
.cart_list table tr td .add_cart{color: #666;width: 74px;height: 20px;display: block;float: left;line-height: 20px;margin-left: 10px;background: url("../imgs/goods_list22.png") 0 0 no-repeat;}
.cart_list table tr td .col{width: 40px;height: 20px;display: block;float: left;line-height: 20px;color: #39a817;}

.cart_tab ul li.child.on_check{box-shadow: 2px 2px 5px #ccc;}
.cart_tab ul li.child.on_check .collect{display: block;}

.cart_tab ul{width: 1010px;margin-top: 10px;_margin-top:0;}

.cart_tab .box_goods{background-color: #e2f8b1;height: 160px;*height:170px;_height:160px;}

.cart_tab .box_goods .price{color: #e70000;font-size: 14px;font-weight: bold;}

.cart_tab ul li.child{width: 225px;height: 385px;border: 1px solid #e7e7e7;float: left;margin:0 25px 12px 0;position: relative;}
.cart_tab ul li.child .collect{display:none;width: 84px;height: 26px;background-color: #2cb502;border-radius: 20px;color: #fff;font-size: 14px;position: absolute;left: 15px;top:180px;line-height: 26px;text-indent: 36px;}
.cart_tab ul li.child .collect_ico{position: absolute;width: 18px;height: 24px;background: url("../imgs/com_sprites.png") 1px -46px no-repeat;left: 15px;top:0px;}

.cart_tab ul li.child img{width: 225px;height: 225px;}
.cart_tab ul li.child ul{height: 116px;width: 188px;padding: 5px 22px;}  /* 2015-8-5 */
.cart_tab ul li.child ul li{height: 20px;line-height: 20px;color: #666666; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.cart_tab ul li.child a.child_a{display: block;height: 216px;}
.cart_tab ul li.child ul li a{display:block; color: #39a817; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/* 2015-7-9 */
.cart_tab ul li.child .tetj{position: absolute;left: 0;top:0;width: 31px;height: 43px;}
.cart_tab ul li.child .tetj img{width: 31px;height: 43px;}

ul li.child  .btn .num {width: 27px;height: 27px;text-align: center;line-height: 27px;border: 1px solid #dbdbdb;float: left;margin:0 3px 0 20px;}
ul li.child  .btn p{width: 16px;height: 28px;float: left;}
ul li.child  .btn span{display: block;width: 16px;height: 14px;float: left;background:url("../imgs/sprite.png") no-repeat;cursor:pointer;}
ul li.child  .btn span.add{background-position: -182px 0 }
ul li.child  .btn span.reduce{background-position: -182px -14px }
ul li.child  .btn  a{display: block;float: left;width: 112px;height: 26px;border: 1px solid #dbdbdb;margin-left: 10px;line-height: 26px;text-indent: 38px;background-color: #fff;color: #e70000;position: relative;}
ul li.child  .btn  a em{width: 23px;height: 26px;float: left;background: url("../imgs/com_sprites.png") -71px -1px no-repeat;position: absolute;left: 10px;top:0;}

.cart_tab{width: 985px;overflow: hidden;}
.cart_tab .box_1{background-color: #e2f8b1;height: 185px;}
.cart_tab ul li.child_1{width: 225px;height: 410px;border: 1px solid #e7e7e7;float: left;margin:0 25px 12px 0;position: relative;}
.cart_tab ul li.child_1 .collect{width: 84px;height: 26px;background-color: #2cb502;border-radius: 20px;color: #fff;font-size: 14px;position: absolute;left: 15px;top:180px;line-height: 26px;text-indent: 36px;display:none;}
.cart_tab ul li.child_1 .collect_ico{position: absolute;width: 18px;height: 24px;background: url("../imgs/com_sprites.png") 0 -46px no-repeat;left: 15px;top:0px;}

.cart_tab ul li.child_1.on_check{box-shadow: 2px 2px 5px #ccc;}
.cart_tab ul li.child_1.on_check .collect{display: block;}

.cart_tab ul li.child_1 img{width: 225px;height: 225px;}
.cart_tab ul li.child_1 ul{height: 138px;width: 188px;padding: 5px 22px;}
.cart_tab ul li.child_1 ul li{height: 20px;line-height: 20px;color: #666666;}
.cart_tab ul li.child_1 a.child_a{display: block;height: 216px;}
.cart_tab ul li.child_1 ul li a{color: #39a817;}

.cart_tab ul li.child .tip{position: absolute;top:182px;left: 100px;width: 115px;}
.cart_tab ul li.child .tip_txt{display: block;float: right;width: 40px;height: 20px;background-color: #ff0000;color: #fff;line-height: 20px;text-align: center;margin-left: 10px;}
.cart_tab ul li.child  .te{background-color: #66f;}

.cart_list table tr td.table2_td2 .img_a{display:block;width:185px;height:28px;}
.cart_list table tr td.table2_td2 .a_img{position: absolute;width: 200px;height: 235px;right: -202px;top: -1px;*top: -2px;z-index: 999;padding: 0;display: none;background-color:#fff;border: 1px solid #ccc;}
.cart_list table tr td.table2_td2 .a_img img{width: 200px;height: 200px;z-index :1000;}
.cart_list table tr td.table2_td2 .a_img  span.info_txt{height: 20px;line-height: 20px;color: #333;text-align: left;text-indent: 5px;float: left;}    /* 2015-8-5 */
.cart_list table tr td.table2_td2 .a_img  span.num{color: #ff0000;}

ul li.child_1  .btn_1 .num {width: 27px;height: 27px;text-align: center;line-height: 27px;border: 1px solid #dbdbdb;float: left;margin:0 3px 0 20px;}
ul li.child_1  .btn_1 p{width: 16px;height: 28px;float: left;}
ul li.child_1  .btn_1 span{display: block;width: 16px;height: 14px;float: left;background:url("../imgs/sprite.png") no-repeat;cursor:pointer;}
ul li.child_1  .btn_1 span.add{background-position: -182px 0 }
ul li.child_1  .btn_1 span.reduce{background-position: -182px -14px }
ul li.child_1  .btn_1  a{display: block;float: left;width: 112px;height: 26px;border: 1px solid #dbdbdb;margin-left: 10px;line-height: 26px;text-indent: 38px;background-color: #fff;color: #e70000;position: relative;}
ul li.child_1  .btn_1  a em{width: 23px;height: 26px;float: left;background: url("../imgs/com_sprites.png") -71px -1px no-repeat;position: absolute;left: 10px;top:0;}

/*主体部分样式结束*/


.g_right_bottom{padding: 10px 0 10px 0;font-size: 13px;background-color: #fffdee;text-indent: 50px;font-weight: bold}
.g_right_bottom p{line-height: 20px}
.g_right_bottom p span{color: red;font-weight: normal;font-size: 12px}
.g_right_bottom a{text-decoration: none;color: #3ebb2b;font-size: 12px;}

.g_right_bottom_bottom{margin-top: 20px;border-top: 1px solid #ccc;padding-top: 10px;padding-left: 20px}
.g_right_bottom_bottom p a{color: red;text-decoration: none}


.g_csize {height:40px; border-bottom: 1px solid #CCCCCC; font-size: 12px; line-height: 40px; position: relative; width: 985px;background-color: #f7f5f5;}
.g_hdiv { float: left;text-align: right; width: 80px;}
.g_listdiv { float: left; width: 690px; _margin-top: 9px;height:40px;line-height:40px;overflow:hidden;}

a.g_select_cate h5 { color: #808080;display: inline;font-size: 12px;font-weight: normal;}
a.g_select_cate { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #999;color: #E4393C;cursor: pointer; display: inline-block;height: 15px; line-height: 16px;  margin:0 3px;padding: 0 20px 0 3px; position: relative;text-decoration: none; white-space: nowrap;margin-top:10px;}
a.g_select_cate .g_close_icon { background: url("../imgs/close_0.gif") no-repeat scroll 0 0 transparent; height: 13px; position: absolute;right: 0;top: 1px; width: 14px;}



.table1 tr td .big_pic.checked{background-position: -23px -70px;}
.table1 tr td .list.checked{background-position: -23px -47px;}

.initial{height: 50px;line-height: 50px;background-color: #f7f5f5;border-top: 1px solid #ccc;}
.initial .title_name{padding-left: 20px;}
.initial a{font-size: 14px;padding:2px 8px ;color: #666666;}
.initial a:hover,.initial a.checked_a{background-color: #39a817;color: #fff;}




